@font-face {
    font-family: Raleway;
    src: url("fonts/Raleway-VariableFont_wght.ttf");
}

body {
    margin: 0%;
    font-family: Raleway, sans-serif;
    overflow-x: hidden;
    height: 120rem;
}

a {
    color: white;
    text-decoration: none;
}

.main-hero {
    margin: 0%;
}
/*
-webkit-transform: translateZ(0);
    transform: translateZ(0);*/
.top-content {
    height: 40rem;
    width: 100%;
    height: 45rem;
    color: white;
}


.text-content {

}

#background {
    width: 100%;
    height: 45rem;

    position: absolute;
    content: url("images/webdesignphoto.jpg");

    z-index: -3;
}

.background-color {
    width: 100%;
    height: 45rem;
    background-color: rgba(20, 30, 50, 0.4);
    position: absolute;
    z-index: -2;
}

.big-circle {
    height: 200rem;
    width: 200rem;
    background-color: rgba(10, 10, 10, 0.9);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: -150rem;
    top: -75rem;
}

    /* Tree */

.link-tree {
    height: 100px;
    width: 100%;
    padding-top: 22px;

    color:black;
    font-size: 23px;
    background-image: linear-gradient(rgba(20, 20, 20, 0.8) 10%, rgba(20, 20, 20, 0.5), transparent 100%);

    display: flex;
    position: absolute;
    justify-content: space-between;
}

.left-branch {
    padding-left: 52px;
    justify-content: start;
    display: flex;
}

.logo {
    width: 142px;
    height: 95px;
    content: url("images/Mixen-final.png");
    padding-top: 5px;
}

.all-links {
    display: flex;
    align-items: center;
    margin-left: 65px;
    align-self: center;
    border-left: 1px white solid;
    padding-left: 60px;
    height: 40px;
}

.links {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    font-weight: light;
    font-size: 18px;
    margin: 24px;
}

.links::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1.3px;
    background-color: white;
    transition: width 0.20s ease-out;
}

.links:hover::before {
    width: 100%;
}

.right-branch {
    padding-right: 52px;
    justify-content: end;
    display: flex;
}

.redir-buttons {
    background: rgba(20, 20, 20, 0.4);
    border: 2px white solid;
    color: white;
    width: fit-content;
    padding-right: 25px;
    padding-left: 25px;
    height: 45px;
    border-radius: 20px;
    transition: 250ms;
    align-self: center;
    margin-top: -22px;
    margin: 12px;
    opacity: 0.6;
}

.redir-buttons:hover {
    cursor: pointer;
    background: rgba(10, 10, 10, 0.6);
    border-radius: 22px;
    opacity: 0.8;
    transition: 120ms;
}

#hire-button {
    border-radius: 20px;
    background: rgba(20, 20, 20, 0.4);
    color: white;
    font-family: Raleway, sans-serif;
    border: 1px white solid;
    font-size: 15px;
    margin-top: 8px;
    width: 190px;
    height: 45px;
}

#hire-button:hover {
    cursor: pointer;
    background: rgba(50, 50, 50, 0.8);
    border-radius: 22px;
    transition: 100ms;
}


#hire-button > a {
    margin-left: 9px; 
}


    /* Intro */

.intro-content {
    padding: 15px;
    padding-top: 11rem;
    width: 50%;
    height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.introduction {
    width: 42.5%;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.introduction:first-child {
    width: 71%;
    border: 1px white solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 50px;
    margin-bottom: 60px;

    height: 30rem;
    text-shadow: black 2px 2px 9px;
    justify-content: center;

}

.intro-title {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    text-shadow: 3px 3px 0px black, 4px 4px 0px gray;
    font-size: 52px;
}

.intro-paragraph {
    margin-top: 18px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
}


/* Additional Content */

.main-content {
    border-top: 1px white solid;
    height: 280rem;
    width: 100%;
    background-color: #212121;
    display: flex;
    flex-direction: column;
}


.buyer-ratings {
    width: 100%;
    height: 23rem;
    background-color: white;
    justify-self: end;
}

.footer-links {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.footer-row {
    height: 28rem;
    width: 100%;
    padding: 50px;
    padding-left: 125px;
    padding-right: 125px;

    color: white;
    display: flex;
    flex-direction: row;
}

.footer-logo {
    height: 140px;
    width: 205px;
}

.footer-ss-link {
    height: 15rem;
    width: 20rem;
}

.social-media-footer {

}

.social-media-footer > a {
    padding: 5px;
}

.social-icon > svg {
    margin: 6px;
}

.text-content-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
    height: 19rem;
    margin-top: 25px;
    padding-left: 95px;
}

.footer-section {
    width: 320px;
    height: 192px;
    padding-top: 2px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.section-title-footer {
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 10px;
    height: 70px;
    width: 100%;
}

.section-links-footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.linker-footer {
    font-weight: light;
    display: flex;
    align-items: center;
    height: 42px;
    width: 60%;

    margin-top: 6px;
    padding-left: 7px;
    margin-left: 2px;

    /*border-bottom: 1px rgba(255, 255, 255, 0.2) solid;*/
    border-radius: 5px;
    font-size: 15px;
    transition: 20ms;
}

.linker-footer:hover {
    color: black;
    font-weight: bold;
    background-color: white;
    transition: 40ms;
}

.footer-credit {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 14px;
    
    background-color: white;
    color: black;
}

.credit-left {
    height: 100%;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}