@font-face {
    font-family: Raleway;
    src: url("fonts/Raleway-VariableFont_wght.ttf");
}

body {
    margin: 0%;
    font-family: Raleway, sans-serif;
    overflow-x: hidden;
    height: 120rem;
}

a {
    color: white;
    text-decoration: none;
}

.main-hero {
    margin: 0%;
}
/*
-webkit-transform: translateZ(0);
    transform: translateZ(0);*/
.top-content {
    height: 40rem;
    width: 100%;
    height: 45rem;
    color: white;
}


.text-content {

}

#background {
    width: 100%;
    height: 45rem;

    position: absolute;
    content: url("images/webdesignphoto.jpg");

    z-index: -3;
}

.background-color {
    width: 100%;
    height: 45rem;
    background-color: rgba(20, 30, 50, 0.4);
    position: absolute;
    z-index: -2;
}

.big-circle {
    height: 200rem;
    width: 200rem;
    background-color: rgba(10, 10, 10, 0.9);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: -150rem;
    top: -75rem;
}

    /* Tree */

.link-tree {
    height: 100px;
    width: 100%;
    padding-top: 22px;

    color:black;
    font-size: 23px;
    background-image: linear-gradient(rgba(20, 20, 20, 0.8) 10%, rgba(20, 20, 20, 0.5), transparent 100%);

    display: flex;
    position: absolute;
    justify-content: space-between;
}

.left-branch {
    padding-left: 52px;
    justify-content: start;
    display: flex;
}

.logo {
    width: 142px;
    height: 95px;
    content: url("images/Mixen-final.png");
    padding-top: 5px;
}

.all-links {
    display: flex;
    align-items: center;
    margin-left: 65px;
    align-self: center;
    border-left: 1px white solid;
    padding-left: 60px;
    height: 40px;
}

.links {
    font-weight: light;
    font-size: 18px;
    margin: 24px;
}


.right-branch {
    padding-right: 52px;
    justify-content: end;
    display: flex;
}

.redir-buttons {
    background: rgba(20, 20, 20, 0.4);
    border: 2px white solid;
    color: white;
    width: fit-content;
    padding-right: 25px;
    padding-left: 25px;
    height: 45px;
    border-radius: 20px;
    transition: 250ms;
    align-self: center;
    margin-top: -22px;
    margin: 12px;
    opacity: 0.6;
}

.redir-buttons:hover {
    cursor: pointer;
    background: rgba(50, 50, 50, 0.8);
    border-radius: 22px;
    transition: 100ms;
}

#hire-button {
    border-radius: 20px;
    background: rgba(20, 20, 20, 0.4);
    color: white;
    font-family: Raleway, sans-serif;
    border: 1px white solid;
    font-size: 15px;
    margin-top: 42px;
    width: 190px;
    height: 45px;
}

#hire-button:hover {
    cursor: pointer;
    background: rgba(50, 50, 50, 0.8);
    border-radius: 22px;
    transition: 100ms;
}


#hire-button > a {
    margin-left: 9px; 
}


    /* Intro */

.intro-content {
    padding: 15px;
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.introduction {
    width: 42.5%;
    padding: 102px;
}

.introduction:first-child {
    width: 42.5%;
    border: 1px white solid;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    padding: 62px;
    padding-bottom: 80px;
    padding-top: 80px;
    height: 17rem;
    text-shadow: black 2px 2px 9px;
}

.intro-title {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 52px;
}

.intro-paragraph {
    font-family: "Raleway", sans-serif
}